/* See https://developer.gnome.org/gtk3/stable/chap-css-overview.html */
/* color_good = '#00FF00' */
/* color_degraded = '#FFFF00' */
/* color_bad = '#FF0000' */
/* color_on = '#FFFFFF' */
/* color_off = '#333333' */


/* Reset */
* {
  border: none;
  /* font-family: sans-serif; */
  font-size: 14px;
  min-height: 0;
}
widget > label {
  border-radius: 0;
  padding: 0px 5px;
}
box > button {
  border-radius: 0;
  padding: 0px 5px;
}
button:disabled {
  color: inherit;
}

/* Whole Bar */
window#waybar {
  background-color: black;
  color: white;
  transition-property: background-color;
  transition-duration: .5s;
}
/* Horizontal: Left Modules */
window#waybar .modules-left > *:not(:last-child) > * {
  border-radius: 5px;
  border-right: 2px solid white;
}
/* Horizontal: Right Modules */
window#waybar .modules-right > *:not(:first-child) > * {
  border-radius: 5px;
  border-left: 2px solid white;
}
/* Horizontal: Center Modules */
window#waybar .modules-center > *:not(:last-child) > * {
  border-radius: 0;
  border-right: 2px solid white;
}
/* position: top */
window#waybar.top {
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
}
/* position: bottom */
window#waybar.bottom {
  border-top: 3px solid rgba(100, 114, 125, 0.5);
}

/* sway/workspaces */
#workspaces button {
  border-radius: 0;
  background: transparent;
  color: white;
}
#workspaces button:hover {
  background: #322659;
}
#workspaces button.focused {
  background: #64727D;
}
#workspaces button.urgent {
  background: #FD6868;
}
/* position: top */
window#waybar.top #workspaces button {
  border-bottom: 3px solid transparent;
}
window#waybar.top #workspaces button.focused {
  border-bottom: 3px solid white;
}
/* position: bottom */
window#waybar.bottom #workspaces button {
  border-top: 3px solid transparent;
}
window#waybar.bottom #workspaces button {
  border-top: 3px solid white;
}

/* sway/mode */
#mode {
  background-color: #FD6868;
  color: black;
  /* padding: 0 5px; */
  border-radius: 0;
}
window#waybar.top #mode {
  border-bottom: 3px solid white;
}
window#waybar.bottom #mode {
  border-top: 3px solid white;
}

/* idle_inhibitor */
#idle_inhibitor.activated {
  background-color: white;
  color: red;
}

/* keyboard state */
/* - Requires "input" group, so basically a keylogger */
#keyboard-state label.locked {
  color: #00FF00;
}
#keyboard-state label.unlocked {
  color: #FF0000;
}

/* network */
#network {
  color: #00FF00;
}
#network.disconnected {
  color: #FF0000;
}
#network.linked, #network.disabled {
  color: #FFFF00;
}
#network.stats {
  color: inherit;
}

/* pulseaudio */
#pulseaudio {
  background-color: inherit;
}
#pulseaudio.source.source-muted {
  /* Microphones */
  background-color: #FF0000;
}
#pulseaudio.sink.sink-muted {
  /* Speakers */
  background-color: #FF0000;
}

/* battery */
#battery {
  font-family: "FontAwesome";
}
@keyframes battery-critical-blink {
  to {
    background-color: red;
    color: white;
  }
}
#battery.s-normal {
}
#battery.s-warning {
  background-color: yellow;
}
#battery.s-critical {
  background-color: red;
}
#battery.plugged {
  color: white;
}
#battery.charging {
  color: green;
}
#battery.s-normal.discharging {
  color: orange;
}
#battery.s-warning.discharging {
  color: red;
}
#battery.s-critical.discharging {
  color: white;
  animation-name: battery-critical-blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* cpu */
#cpu.s-caution {
  color: darkorange;
}
#cpu.s-warning {
  color: yellow;
}
#cpu.s-critical {
  color: red;
}
/* memory */
#memory.s-caution {
  color: darkorange;
}
#memory.s-warning {
  color: yellow;
}
#memory.s-critical {
  color: darkred;
}
/* disk */
#disk.s-caution {
  color: darkorange;
}
#disk.s-warning {
  color: yellow;
}
#disk.s-critical {
  color: darkred;
}
/* temperature */
#temperature.critical {
  color: darkorange;
}

/* clock */
#clock {
  color: #DDDDDD;
}

/* custom */
/* custom - systemd */
#custom-systemd.active {
  color: #00FF00;
}
#custom-systemd.failed {
  color: #FFFF00;
}
#custom-systemd.inactive {
  color: #FF0000;
}
/* custom - notmuch */
#custom-notmuch.active {
  color: #00FF00;
}
#custom-notmuch.error {
  background-color: #FF0000;
}

/* vim: set et sw=2 ts=2: */
